<% provide(:title, 'Contact') %>
<h1>Contact with developer:</h1>
<p>
  email: morgoth.dev@gmail.com <br>
  phone: not public, if You want to have phone number to developer, please ask for it through email.
</p>

